*{
	padding: 0; margin: 0; box-sizing: border-box;}
	.body{
		overflow-x: scroll;
	}
		.header{
			width: 100%;
			height: 100vh;
			background-image:linear-gradient(rgb(0, 0, 0, 0.65),rgb(0, 0, 0, 0.65)), url("cafe.jpg");
			background-size: cover;
			background-position: center;
		}
		.navbar{
			width: 80%;
			margin: auto;
			padding: 35px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.logo{
			width: 50px;
			cursor:pointer;
		}
		.navbar ul li{
			list-style: none;
			display: inline-block;
            margin: 0 20px;
            position: relative;
		}
		.navbar ul li a{
			text-decoration: none;
			color: white;
		}
		.navbar ul li:after{
			content: '';
			height: 3px;
			width: 0;
            background: #009688;  
			position: absolute;
			left: 0;
			bottom: -5px;
            transition: 0.5s;
		}
		.navbar ul li:hover:after{
			width: 100%;
		}
		p{
			margin-top: 10px;
			margin-bottom: 40px;
		}
		.content{
			width: 100%;
			position: absolute;
			top: 40%;
			text-align: center;
			color: white;
		}
		.content h1{
			font-size: 85px;
			font-style: italic ;
		}
		.content p{
			line-height: 25px;
		}
		.button{
			width: 120px;
			padding: 15px 0;
			text-align: center;
			margin: 20px 10px;
			border-radius: 25px;
			font-weight: bold;
			border: 2px solid firebrick;
			background: transparent;
			color: white;
			cursor: pointer;
			position: relative;
			background-color: firebrick;
		}
       .button:hover{
            border: none;
       }
       .media-icons{
       	    justify-content: center;
       	    display: flex;
       	    align-items: center;
       	    margin: auto;
			margin-top: 30px;
       	}
       	.media-icons a{
       		position: relative;
       		color: firebrick;
       		font-size: 25px;
       		transition: 0.3s;
       		transition-property: tranform;
       	}
       	.media-icons a:not(:last-child){
       		margin-right: 50px;
       	}
       	.media-icons a:hover{
       		transform: scale(1.5);
       	}
       	.home{
			width: 100%;
			height: 100vh;
			background-image:linear-gradient(rgb(0, 0, 0, 0.65),rgb(0, 0, 0, 0.65)), url("home.jpg");
			background-size: cover;
			background-position: center;
			text-align: center;
			margin-bottom: 100px;
		}		
        .heading{
        	text-align: center;
        	font-size: 55px;
        	text-transform: uppercase;
        	padding: 15px;
        	color: red;
			margin-bottom: 25px;
        }
        .box-container{
        	padding: .5px;
        	 width: 40%;
        	margin: 10px 10px;
        	float: left;
            text-align: center;
        }
        .Cards{
            display: inline-flex;
			justify-content: center;
			padding-left: 90px;
        }
        .box-container .box{
        	background: black;
        	border: 1px solid white;
        	box-shadow: 0 0 10px 10px black;
          	border-radius: 20px;
        	text-align: center;
        	transition: 1s;
           	width: 150%;
        	padding: 15px;
        	position: relative;
        	overflow: hidden;

        }
        img{
        	width: 80%;
        	height: 50%;
			position: relative;
           }
        .home .box-container .box h3{
        	font-size: 15px;
        	color: brown;
        	padding: 15px;
        	font-size: 15px;
        }
        .box:hover{
        	transform: scale(1.3);
        	z-index: 2;
        }
        .btn{
        	width: 20px;
			padding: 5px 0;
			text-align: center;
			margin: 20px 10px;
			border-radius: 5px;
			font-weight: bold;
			border: 2px solid saddlebrown;
			background: transparent;
			color: white;
			cursor: pointer;
			position: relative;
			background-color: saddlebrown;
        }
        .btn:hover{
            border: none;
       }